{{>navbar}}

<h2>Add new Hunter</h2>
{{!-- name, location, kills, description, price --}}
<form method="POST" action="/hunters/add" class="form">
  <label for="name">Hunter name</label>
  <input type="text" id="name" name="name" placeholder="hunter name">

  {{!-- <label for="location">Location</label>
  <select id="location" name="location">
    {{#each locations}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select> --}}
    <label for="location">Location</label>
    <textarea rows="3" id="location" name="location" placeholder="hunters location"></textarea>

    <label for="Kills">Kills</label>
    <textarea rows="3" id="kills" name="kills" placeholder="hunters Kills"></textarea>
  
  <label for="description">Description</label>
  <textarea rows="3" id="description" name="description" placeholder="hunters description"></textarea>

    <label for="price">Price</label>
    <textarea rows="3" id="price" name="price" placeholder="hunters price"></textarea>

  <div></div>
  <button>Add new Hunter</button>
</form>