{{>navbar}}
<div class="homepage-div">
<strong><p class="welcome-text">Welcome to Monsta Hunterz</p></strong>
<h3>Will you become a Hunter too? </h3>
<P>Find players by region...</P>
</div>

<div class="bg-img">
  <a class="region asia" href="/hunters/asia/hunters"></a>
  <a class="region na" href="/hunters/north-america/hunters"></a>
  <a class="region sa" href="/hunters/south-america/hunters"></a>
  <a class="region antartica" href="/hunters/antarctica/hunters"></a>
  <a class="region oce" href="/hunters/oceania/hunters"></a>
  <a class="region eu" href="/hunters/europe/hunters"></a>
  <a class="region africa" href="/hunters/africa/hunters"></a>
</div>