{{>navbar}}
<div style="text-align: center;">
<h3>All the Hunters in the region: {{location}}</h3>
<ul class="">
    {{#each hunters}}
    <li><a href="/hunters/{{id}}/hunter">{{name}}</a> </li>
    <br>
    {{/each}}
</ul>
</div>